<div class="header">
    <div class="inner">
        <a href="@Url.Content("~/")" class="logo">
            <img src="@Url.Content("~/Content/img/logo/logo.png")" />
        </a>
        <div class="right">
            <div class="menu">
                <a href="@Url.Content("~/")">Home</a>
                <a href="@Url.Content("~/services")">Services</a>
                <a href="@Url.Content("~/contactus")">Contact us</a>
            </div>
        </div>
    </div>
</div>